*{
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
}
body{
  background-color: rgb(255, 255, 255);
}
header{
  text-align: center;
  background-color: rgb(22, 85, 177);
}
header h1{
  color:rgb(255, 255, 255);
  font-size: 3em;
}

#content{
  margin: 1em auto;
  padding:1em;
  width: 95%;
  border:1px solid #000;
}
nav{
  width: 100%;
  background-color: rgb(51, 48, 50);
}
.menu{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.menu li{
    display:inline;
}
.menu a{
    display:inline-block;
    padding:10px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                            NAV
                            Referencia: http://html5facil.com/tutoriales/como-crear-menu-basico-html5-css3/
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*nav{

    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));

    background-image: -moz-linear-gradient(top center, #FFF, #CCC);
    background-image: -o-linear-gradient(top, #FFF, #CCC);
    background-image: linear-gradient(top, #FFF, #CCC);
    overflow:hidden;
    padding:10px;
    width:950px;
}
nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}
nav ul li{

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;

    text-shadow: 0px 1px 0px #FFF;
}*/
nav ul li:hover{
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));/*Chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);/*Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #E3E3E3);/*Opera*/
    background-image: linear-gradient(top, #FFF, #E3E3E3);/*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #999;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #999;/*Firefox*/
    -o-box-shadow:  1px -1px 0px #999;/*Opera*/
    box-shadow:  1px -1px 0px #999;/*Estandar por defecto*/

}
nav ul li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}
nav ul li a:hover {
    color:#000;
}
