*{
  margin: 0 auto;
  /*font-family: 'Roboto Mono', monospace;*/
  font-family: 'Roboto Slab', serif;
}
main{
  width: 95%;

  padding: 1em;
}
main  p{
  margin-bottom: 1em;
}
/************************************************************
    IDS
/*************************************************************/
#advertencia{
  text-align: center;
  padding: 1em;
  background-color: #cc3535;
  font-size: 1em;
  color:#ffffff;
}

/*/////////Clases /////////////////////////////*/
.bold{
  font-weight: bold;
}
.caja{
  padding: 1em;
  border: 1px solid #252526;
  border-radius: 10px;

}
.btn{
  padding: 2em;
  border:1px solid #494949;
  border-radius: 5px;
  text-decoration: none;
  color:white;
  background: #1372e2;
}
.btn:hover{

}
body{
  background-color: rgb(255, 255, 255);
}
header{
  text-align: center;
  background-color: rgb(22, 85, 177);
}
header h1{
  color:rgb(255, 255, 255);
  font-size: 3em;
}

#content{
  margin: 1em auto;
  padding:1em;
  width: 95%;
  border:1px solid #000;
}
nav{
  width: 100%;
  background-color: rgb(51, 48, 50);
}
.menu{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.menu li{
    display:inline;
}
.menu a{
    display:inline-block;
    padding:10px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                            NAV
                            Referencia: http://html5facil.com/tutoriales/como-crear-menu-basico-html5-css3/
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
nav ul li:hover{
    /*Degradado de fondo*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));/*Chrome y Safari*/
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);/*Firefox*/
    background-image: -o-linear-gradient(top, #FFF, #E3E3E3);/*Opera*/
    background-image: linear-gradient(top, #FFF, #E3E3E3);/*Estandar por defecto*/
    /*Sombras*/
    -webkit-box-shadow:  1px -1px 0px #999;/*Chrome y Safari*/
    -moz-box-shadow:  1px -1px 0px #999;/*Firefox*/
    -o-box-shadow:  1px -1px 0px #999;/*Opera*/
    box-shadow:  1px -1px 0px #999;/*Estandar por defecto*/

}
nav ul li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}
nav ul li a:hover {
    color:#000;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                          Lista
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#lista{
  width: 95%;
  border:3px solid #625654;
  padding: 1em;
}
#lista  input{
  border: none;
  width: 5em;
  border-bottom: solid 5px #c9c9c9;
  transition: border 0.3s;
  margin-left: 1em;
}
#lista ul{
  padding: 1em;

}
#lista ul  ul{

}
