*{
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
}
body{
  /*background-color: #bfc0c6;*/
}
header{
  border-bottom: 1px solid #212121;
  padding: 1em 0 1em 0;
  text-align: center;
  background-color: #ff3d00;
  color:#ffffff;
  font-size: 1em;
}
main{
  width: 90%;

  padding: 1em;
}
main  p{
  margin-bottom: 1em;
}
/************************************************************
    IDS
/*************************************************************/
#advertencia{
  text-align: center;
  padding: 1em;
  background-color: #cc3535;
  font-size: 1em;
  color:#ffffff;
}

/*/////////Clases /////////////////////////////*/
.bold{
  font-weight: bold;
}
.caja{
  padding: 1em;
  border: 1px solid #252526;
  border-radius: 10px;
}
